.container{
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
    gap: 0.5rem;
}
.label{
    font-size: 1.2rem;
}

.inputField{
    max-width: 6.5rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 0.15rem;
    border-style: none;

    font-weight: bold;
    &:focus{
        outline: none;
    }
}