.yearmonth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--c-bg-yearmonth);
    border-radius: 0.2rem;
}

.yearmonth__text {
    font-size: 1.2rem;
    margin: 0;
}

.yearmonth__button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 0.5rem;
    background-color: var(--c-bg-btn-yearmonth);
    border-radius: 0.15rem;
    width: 1rem;
    height: 1rem;
    margin: .5rem;

    &:hover {
        background-color: var(--c-bg-btn-hover-yearmonth);
        cursor: pointer;
    }
}